<%= error_messages_for @user %>
<fieldset>
	<legend>User Information</legend>
	<ul>
		<li>
			<%= text_field :login, :label => "Login" %>
		</li>
		<li class="check_box">
			<%= check_box :admin, :label => "Admin?" %>
		</li>
	</ul>
</fieldset>

<fieldset>
	<legend>Password</legend>
	<ul>
		<li>
			<%= password_field :password, :label => "Password" %>
		</li>
		<li>
			<%= password_field :password_confirmation, :label => "Password Confirmation" %>
		</li>
	</ul>
</fieldset>