	<%= error_messages_for @mapping %>
<fieldset>
  <legend>Incoming</legend>
	<p><%= text_field :email_user, :label => "Email" %>@<%= text_field :email_domain %></p>
</fieldset>

<fieldset>
  <legend>Outgoing</legend>
  <p><%= text_field :destination, :label => "Destination" %></p>
  <p><%= select :transport, :collection => Mapping.transports.to_a.each { |a| a.reverse! } %></p>
</fieldset>

<fieldset>
  <legend>Processing</legend>
  <p><%= text_field :separator, :label => "Separator" %></p>
  <p>The separator splits the message and processes only the first part.   Use this to skip the previous message in the email's reply body.  Here's what email output from an application, using <var>**********</var> as its separator, might look like:</p>
  <pre>
    I still can't think of anything.
    
    On Fri, 11pm, tdurden@aol.com sent:
    > REPLY ABOVE THIS LINE **********
    >
    > Would you like to say a few words to mark the occasion?
  </pre>
</fieldset>