<h1>Edit Mapping</h1>

<%= form_for @mapping, :action => resource(@mapping) do %>
	<%= error_messages_for @mapping %>
  <p><%= text_field :email_user, :label => "Email" %>@<%= text_field :email_domain %></p>
  <p><%= text_field :destination, :label => "Destination" %></p>
  <p><%= submit "Update" %> or <%= link_to 'cancel', url(:mappings) %></p>
<% end =%>