<h1>Your Mappings</h1>

<div class="actions">
	<%= link_to 'Create new mapping', url(:new_mapping), :class => 'button' %>
</div>

<% if @mappings.empty? -%>
	<p>You haven't created any mappings yet.</p>
<% else -%>
	<table>
		<thead>
			<tr>
		    <th>Email</th>
		    <th>Destination</th>
		    <th class="actions">Actions</th>
		  </tr>
		</thead>
		<tbody>
			<% @mappings.each do |mapping| -%>
			  <tr class="<%= cycle 'odd', 'even' %>">
			  	<td>
				    <%=h mapping.email_user %>@<%= mapping.email_domain %>
				  </td>
				  <td><%=h mapping.destination %> (<%=h mapping.transport %>)</td>
				  <td class="actions">
						<%#= link_to 'view', resource(mapping) %>
						<%= link_to 'edit', resource(mapping, :edit) %>
					</td>
			  </tr>
			<% end -%>
		</tbody>
	</table>
<% end -%>